TWILIO_ACCOUNT_SID=xxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxx
TWILIO_VERIFY_SERVICE_SID=xxxxxxxxx

MANAGER_PHONE=xxxxxxxxx
MANAGER_NAME=xxxxxxxxx
MANAGER_EMAIL=xxxxxxxxx
MANAGER_ADDRESS=xxxxxxxxx
MANAGER_USERNAME=xxxxxxxxx
MANAGER_PASSWORD=xxxxxxxxx

JWT_SECRET=xxxxxxxxx
MAIL_USERNAME=xxxxxxxxx
MAIL_PASSWORD=xxxxxxxxx

FE_URL=xxxxxxxxx

PASSWORD_SALT=xxxxxxxxx
