.label {
  font-weight: 500;
  font-size: 25px;
  line-height: 22px;
}

.labelContainer {
  height: 84px;
  display: flex;
  align-items: center;
  padding-left: 49px;
}

.employeeTableContainer {
  box-shadow:
    0px 0px 1px 0px #171a1f12,
    0px 0px 2px 0px #171a1f1f;
}

.employeeCount {
  font-style: Bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;
  margin-left: 59px;
}

.infoContainer {
  display: flex;
  box-shadow:
    0px 0px 1px 0px #171a1f12,
    0px 0px 2px 0px #171a1f1f;
  height: 83px;
  align-items: center;
  justify-content: space-between;
}

.toolsContainer {
  display: flex;
  margin-right: 38px;
  align-items: center;
  gap: 12px;
}

.createEmployeeButton {
  height: 36px;
  border-radius: 3px;
  border: 1px solid #2c7be5;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #1d80b6;
  background-color: #f3f8ff;
  cursor: pointer;
}

.searchBar {
  display: flex;
  height: 39px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  align-items: center;
  gap: 11px;
  padding-left: 15px;
  padding-right: 15px;
}

.magnifyingGlassIcon {
  width: 21px;
  height: 21px;
}

.searchInput {
  background-color: none;
  border: 0;
}

.employeeTableHeader {
  background: #fafafa;
  height: 44px;
  box-shadow:
    0px 0px 1px 0px #171a1f12,
    0px 0px 2px 0px #171a1f1f;
}

.employeeTableHeader > th {
  color: #171a1f;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 25%;
}

.employeeTable {
  width: 100%;
  border-collapse: collapse;
}

.employeeTableRow {
  height: 71px;
  text-align: center;
  border: 1px solid #f1f1f1;
}

.status {
  height: 28px;
  background-color: #e3fef3;
  font-weight: 400;
  line-height: 17px;
  color: #16d583;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 44px;
}

.baseButton {
  height: 32px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  border: 0;
  padding: 7px 14px;
  cursor: pointer;
}

.editButton {
  background-color: #2c7be5;
}

.deleteButton {
  background-color: #ea5656;
}
